<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" target="_blank" href="/our-social-media">Social&nbsp;Media</a>
</li>
<li class="nav-item">
    <a class="nav-link" target="_blank" href="/donate-satoshis">Donate</a>
</li>
<li class="nav-item">
    <a class="nav-link" target="_blank" href="/sats-bitcoin-merchants-directory-saigon">Saigon&nbsp;Merchants</a>
</li>
<!--
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
-->

